.main-content {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 150px;
}

.user-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #841F27;
    padding: 36px;
    border-radius: 25px;
    min-width: 20%;
    background-color: #841F27;
}

.question-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid #841F27;
    padding: 36px;
    border-radius: 25px;
    min-width: 20%;
    background-color: #841F27;
    text-align: center;
}

.submit-button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #354E71;
    color: #FFFFFF; 
    border-color: #354E71;
    font-weight: bold;
    cursor: pointer;
}
input {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.75em;
    padding:10px;
    border-radius: 5px;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 20%;
    padding: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: center;
}

.greeting-div {
     width: 100%;
     text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 
.header h2 {
    font-size: 30px;
}

.header h1 {
    font-size: 56px;
}

.logout-button {
    width: 150px;
    align-self: center;
    background-color: #841F27;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

/*Media Queries */

@media (max-width: 992px) {
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    .question-list {
        min-width: 50%;
    }

    .user-input {
        min-width: 50%;
    }
}

