.main-content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 300px;
    font-size: 24px;
}

.user-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 50px;
    border-radius: 25px;
}

li {
    list-style: none;
    border: 1px solid black;
    padding: 75px;
    border-radius: 25px;
    width: 100%;
    text-align: center;
}

.submit-button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
input {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.75em;
    padding:10px;
    border-radius: 5px;
}

.feedback {
    margin-top: 75px;
    margin-left: 125px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-around;
}

.fake-button {
  background-color: blue;  
  border-radius: 5px;
  color: white;
  padding: 25px;;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

